.search-bar {
    padding: 17px;
    padding-left: 55px;
    width: 300px;
    border: 1px solid #f5f5f5;
    font-size: 15px;
    background-image: url('https://img.icons8.com/search');
    background-repeat: no-repeat;
    background-position: left center;
    outline: 0;
    border-radius: 50px;
}